- https://www.prb.org/international/indicator/population/table/
- https://figshare.com/articles/Untitled_Item/5513449 Keyes, Os (2017): Politicians by Country from the English-language Wikipedia. figshare. Dataset. 

"This project contains data on most English-language Wikipedia articles within the category "Category:Politicians by nationality" and subcategories, along with the code used to generate that data. Both are released under the CC-BY-SA 4.0 license."

- ORES ("Objective Revision Evaluation Service"). ORES estimates the quality of an article (at a particular point in time), and assigns a series of probabilities that the article is in one of 6 quality categories. The options are, from best to worst:

Use the ORES Python client available via pip.

### Imports

In [1]:
import pandas as pd
from ores import api

Both page_data.csv and WPDS_2018_data.csv contain some rows that you will need to filter out and/or ignore when you combine the datasets in the next step. In the case of page_data.csv, the dataset contains some page names that start with the string "Template:". These pages are not Wikipedia articles, and should not be included in your analysis.

Similarly, WPDS_2018_data contains some rows that provide cumulative regional population counts, rather than country-level counts. These rows are distinguished by having ALL CAPS values in the 'geography' field (e.g. AFRICA, OCEANIA). These rows won't match the country values in page_data, but you will want to retain them (either in the original file, or a separate file) so that you can report coverage and quality by region in the analysis section.

# Load, Score, and Clean Wikipedia Page and Population Data

### Read Datasets

In [2]:
page_path = 'data/country/data/page_data.csv'
wpds_path = 'data/WPDS_2018_data.csv'

In [3]:
page_df = pd.read_csv(page_path)
wpds_df = pd.read_csv(wpds_path)

### Remove "Template" Articles from the Page Data

In [4]:
page_df = page_df[~page_df['page'].str.contains('Template')]

### Split out Regions and Countries

In [5]:
region_df = wpds_df[wpds_df['Geography'].str.isupper()]
country_df = wpds_df[~wpds_df['Geography'].str.isupper()]

### Initiate ORES API Session
The useragent string (second arg below) is used to help the ORES team track requests.

In [6]:
ores_session = api.Session("https://ores.wikimedia.org", "Class project <jmorgan@wikimedia.org>")

### Score Pages by  `rev_id`

In [7]:
results = ores_session.score("enwiki", ["articlequality"], page_df['rev_id'].tolist())

### Extract Predictions and Catch Articles for which Predictions Cannot be Extracted

In [8]:
predictions = []
for score in results:
    try:
        predictions.append(score['articlequality']['score']['prediction'])
    except:
        predictions.append('None')

### Add Predictions to Dataframe and Filter out Articles without Scores

In [9]:
page_df['ores_score'] = predictions

### Display Dataframe of Pages without Scores

In [10]:
scoreless_df = page_df[page_df['ores_score'] == 'None']

In [11]:
print(scoreless_df.to_string())

                                          page               country     rev_id ores_score
126              List of politicians in Poland                Poland  516633096       None
222                                 Tingtingru               Vanuatu  550682925       None
330                                Daud Arsala           Afghanistan  627547024       None
539                                Bharat Saud                 Nepal  671484594       None
643                                Robert Sych                Poland  684023803       None
644                Marek Krzysztof Jeleniewski                Poland  684023859       None
830                      Narayani Datt Chataut                 Nepal  698572327       None
894                             Mohammad Amjad              Pakistan  699260156       None
1084                         Gomez das Mariñas                 Spain  703773782       None
1535                              Kamlesh Arya                  Fiji  706810694       None
1980                         Khaled Aghbariyya                Israel  709508670       None
2324                               Panu Laturi               Finland  711288191       None
2587                           Łukasz Kowalski                Poland  712872338       None
2588                          Blanka Olszewska                Poland  712872421       None
2589                   Janusz Jerzy Drozdalski                Poland  712872473       None
2590                      Piotr Michał Trzaska                Poland  712872531       None
2591                    Anna Teresa Piórkowska                Poland  712873183       None
2592                    Edward Ignacy Hartwich                Poland  712873308       None
2593               Lech Andrzej Zagłoba-Zygler                Poland  712873386       None
2599               Elżbieta Teresa Rusielewicz                Poland  712878000       None
2600                   Adam Wojciech Fórmaniak                Poland  712878267       None
2601                 Zbigniew Józef Sobociński                Poland  712878343       None
2602       Bernadeta Aldona Różańska-Majchrzak                Poland  712878396       None
2604                       Jarosław Wenderlich                Poland  712881543       None
2605                       Ewa Joanna Starosta                Poland  712881676       None
2606          Stanisław Grodzicki (politician)                Poland  712881741       None
2607            Tadeusz Mirosław Kondrusiewicz                Poland  712881882       None
2610                 Wojciech Hieronim Nowacki                Poland  712889562       None
2611                               Jacek Rosół                Poland  712889594       None
2612                           Tomasz Jan Rega                Poland  712889683       None
2613                       Marek Henryk Gralik                Poland  712889781       None
2614                      Michał Piotr Sztybel                Poland  712889809       None
2615                    Jacek Andrzej Bukowski                Poland  712891291       None
2616                           Kazimierz Drozd                Poland  712891354       None
2617                Lech Stanisław Lewandowski                Poland  712891378       None
2618                        Felicja Gwincińska                Poland  712891476       None
2737                    Shah Seyyed Ali Kazemi                  Iran  713368646       None
2926                           Fawzi al-Ghazzi                 Syria  714352602       None
3239                           Armin Halitović    Bosnia-Herzegovina  715273866       None
3335                          Gissur Petersson               Iceland  715534283       None
4027                    Bakhtiar Mahmud Kasuri              Pakistan  717927381       None
4398                            Friedrich Peus               Germany  719521006       None
4415                     Talib Garingan Pawaki           Philippines  719581803       None
4545                          Christian Raster               Germany  720054719       None
4656               Kimball–Snow–Woolley family         United States  720356159       None
4760              Malak Zmarak Khan Mandokhail              Pakistan  720688837       None
5016                         Max Adolf Richter               Germany  721509220       None
5709                           David J. Reimer                Canada  724052271       None
6336                         Eistein Rajaonary            Madagascar  726600165       None
6967                       Mahesh Kumar Malani              Pakistan  730950147       None
7508                    Patrick Nwakamma Ottih              Cameroon  734957625       None
7693                       Liam Mac an Ultaigh               Ireland  736660951       None
7785                           Alois Buttinger               Austria  737123608       None
8175                              Marcel Hatch                Canada  738514517       None
8256                      Rajabboy Norkallayev            Tajikistan  738984692       None
9688                              Bia Venâncio                Brazil  747688056       None
9723                               Pat Bridson               Ireland  747922835       None
10046                                 Wanmelbu               Vanuatu  749326717       None
11034                        Diyar Khan Yaqubi              Pakistan  754739349       None
11529                         Arthur Gregorian               Armenia  756697478       None
12541                        Marcelo Cerqueira                Brazil  757313957       None
13286                              Ahmad Balal              Pakistan  757961591       None
13739                            Saleh Al Shal  United Arab Emirates  760194556       None
13740                            Josef Siegele               Austria  760195376       None
14359                           Elisha Shapiro         United States  763558111       None
14494                           Lennox Farrell                Canada  764019224       None
14674                      Obuobia Darko-Opoku                 Ghana  764911200       None
14849                            Zeev Schwartz                Israel  765662083       None
14973                      Giammarco Montanari                 Italy  766101638       None
15423                     Muhammad Abdul Haque            Bangladesh  768013050       None
15660                           Rajat Majumdar                 India  768871687       None
16357                    Sheikh Zakaria Ansari                  Iran  771213598       None
16455             Muhammad Yar Khan Mandokhail              Pakistan  771642775       None
16890                         Hari Bahadur Rai                 Nepal  773355081       None
17051                              Khaled Negm                 Egypt  774023957       None
17135                              Phil Hobson        United Kingdom  774293013       None
18000                              John Palino           New Zealand  777163201       None
18684                  Jacek Maciej Wenderlich                Poland  779101752       None
18696                     Mohamad Hamim Aliyas             Singapore  779135011       None
19206            Chaudhry Zafar Iqbal Warraich              Pakistan  779954797       None
19209                          Rana Assad Amin              Pakistan  779957437       None
19874                            Batul Soltani                  Iran  782170063       None
20445                               Rose Sales                Brazil  783382630       None
21971                          Mariano Lazcano                 Spain  786721553       None
22263                 Mian Fareed Abbas Kathia              Pakistan  787181453       None
22541              Abdolmajid Pirzadeh Jahromi                  Iran  787391918       None
22562                Abdul Latif Khalid Cheema              Pakistan  787398581       None
23464                             Mahesh Kumar              Pakistan  788310383       None
23897                            Vithal Chavan                 India  788722110       None
24858                   Jaybahadur Hitan Magar                 Nepal  788844423       None
26073                          Fernando Linera                 Spain  789080627       None
26468               Harald Haas (Pirate Party)               Austria  789271422       None
26579                             Zhang Yuhuan                 China  789281061       None
26622                      Hameeda Waheeduddin              Pakistan  789285762       None
26629                             Zheng Shekui                 China  789286413       None
28644                            Farouk Sharif           Philippines  790028876       None
28801        Idoia Zenarrutzabeitia Beldarrain                 Spain  790147995       None
30095  Claybourn – Claiborne – Clayborn family         United States  791866288       None
30432                          Marko Selakovic                Serbia  792400552       None
30660                             Caleb Crosby         United States  792857662       None
30706             Draft:John Johansson i Gränö                Sweden  792933603       None
30952                     Tibor Gaal de Hatvan               Hungary  793280504       None
31685                     Chukwuemeka Ihedioha               Nigeria  794311724       None
32088      List of Ghana heads of state by age                 Ghana  794866848       None
32233                Alfred Moungara Moussotsi                 Gabon  794990759       None
32688                              Fraz Wahlah              Pakistan  795588781       None
34161                               Dan Hilton                Canada  797311794       None
35712                        Maria Hadjipavlou                Cyprus  798891126       None
36136                             V. Sadasivan                 India  799263010       None
36465                        Mohd Eekmal Ahmad              Malaysia  799540668       None
36825                 Raja Muhammad Akbar Khan              Pakistan  799880073       None
36895                            Rich Eychaner         United States  799933274       None
37105                               Craig Huey         United States  800144885       None
37431                     Donald Jeffrey Large         United States  800299837       None
37617                            Dragan Klaric                Sweden  800471126       None
37698                       Bashir Ahmed Sarki              Pakistan  800574730       None
38578                               Anwara Ali        United Kingdom  801306872       None
39097      Rashid bin Humaid Al Nuaimi (Ajman)  United Arab Emirates  801638735       None
39267                               Ouyang Xiu                 China  801835819       None
39596             Ali Asghar Khan (politician)              Pakistan  802148439       None
40033                 Ananda Syahendar Perdana             Indonesia  802475516       None
40067                        Ezatullah Mujahid           Afghanistan  802515929       None
40379                    Maciej Filip Zegarski                Poland  802765034       None
40526                     Bernard Binlin Dadié               Ivorian  802904214       None
40576                                Than Htay               Myanmar  802937732       None
40994                          Anatoliy Peshko               Ukraine  803413615       None
41078                           Kevin Hardwick         United States  803484030       None
41386                            David Sparrow                Canada  803784385       None
41721          Iftikhar Ahmed (Swiss lawmaker)           Switzerland  804057093       None
41815                       João Victor Guedes                Brazil  804118645       None
41879                          Kampa Borgoyary                 India  804158476       None
42256                  Lucia Lucchesi-Ghiselli                 Italy  804473605       None
42510                                 Lib Peck        United Kingdom  804697858       None
42605                   Dudley–Winthrop family         United States  804791599       None
42851                       William M. Rainach         United States  804945338       None
42864                           David J. Dwork         United States  804946658       None
43058                     Lav Grigorije Pajkić                Serbia  805041930       None
43304                    Richards–Young family         United States  805211553       None
43598                                Ian Axton        United Kingdom  805420467       None
44147      Political positions of Pat Buchanan         United States  805788048       None
44392                    Hossein Khan Movaghar                  Iran  805936041       None
44471                        Valeriy Panasenko               Moldova  805993160       None
44529                  Edivaldo Holanda Júnior                Brazil  806030859       None
44754                               Rajah Alon           Philippines  806179522       None
44840                   Golam Mohammad Rabbani            Bangladesh  806223655       None
45099                          Mohammed Naguib                 Egypt  806372496       None
45628                            Rajah Gambang           Philippines  806695084       None
45837                          Olajide Awosedo               Nigeria  806811023       None
46416                             Dirtbag Left         United States  807161510       None
46509                             Guy Georgias              Zimbabwe  807196681       None
46782                   John Rose (Trotskyist)        United Kingdom  807336308       None
46862                           Jalal Movaghar                  Iran  807367030       None
46863                          Mohsen Movaghar                  Iran  807367166       None
47182                           King Gutierrez           Philippines  807479587       None
47196                          Ajay Kannoujiya                 India  807484325       None

### Filter out Articles without Scores

In [12]:
page_df = page_df[~(page_df['ores_score'] == 'None')]

### Merge Wikipedia Page and Country Population Data

In [13]:
wp_country_df = pd.merge(page_df, country_df,  how='inner', left_on='country', right_on='Geography')\
                  .drop(['Geography'], 1)

### Collect and Save Wikipedia Page Records that do Not Match Population Data

In [14]:
left_df = pd.merge(page_df, country_df,  how='left', left_on='country', right_on='Geography', indicator=True)
no_match_df = left_df[left_df['_merge'] == 'left_only']

In [15]:
no_match_df.to_csv('data/wp_wpds_countries-no_match.csv', index=False)

### Save Merged Records with the Following Schema
- **Column**
- country
- article_name
- revision_id
- article_quality
- population

In [16]:
wp_country_df.columns = ['article_name', 'country', 'revision_id', 'article_quality', 'population']
wp_country_df.to_csv('data/wp_wpds_politicians_by_country.csv', index=False)

# Compute Country Level Statistics

### Compute Number of Articles per Country

In [17]:
wp_country_df['articles_count'] = wp_country_df.groupby('country')['country'].transform('count')

### Compute Article Coverage by Country Population (in Articles per Million)

In [18]:
wp_country_df['population'] = pd.to_numeric(wp_country_df['population'].str.replace(',', ''))
wp_country_df['articles_by_pop'] = wp_country_df['articles_count'] / wp_country_df['population']

### Compute Number of GA or FA-Quality Articles

In [19]:
wp_country_df['ga_fa_flag'] = wp_country_df['article_quality'].apply(lambda x: 1 if x in ['GA', 'FA'] else 0)
wp_country_df['ga_fa_count'] = wp_country_df.groupby(['country'])['ga_fa_flag'].transform('sum')

### Compute Proportion of GA or FA-Quality Articles

In [20]:
wp_country_df['ga_fa_prop'] = wp_country_df['ga_fa_count'] / wp_country_df['articles_count']

# Compute Region Level Statistics

### Add Region Grouping
The Geography column contains both regions and countries with regions always coming first in all caps, followed by the countries in that region.  As such, we can create a dictionary of countries and their regions by iterating until we get a new capitalized region, saving that region to a variable, and then mapping countries to the most recent region variable until we hit a new region and repeat the process until there are no more countries and regions to collect. **Note** that here we collect regions and countries from the wpds_df defined toward the beginning of the notebook by reading in `WPDS_2018_data.csv`.

In [21]:
region_dict = {}
for item in wpds_df['Geography'].tolist():
    if item.isupper():
        current_country = item
    else:
        region_dict[item] = current_country

In [22]:
wp_country_df['region'] = wp_country_df['country'].apply(lambda x: region_dict[x])

### Compute Number of Articles per Region

In [23]:
wp_country_df['region_articles_count'] = wp_country_df.groupby('region')['region'].transform('count')

### Compute Article Coverage by Region Population (in Articles per Million)

In [24]:
wp_country_df['region_population'] = wp_country_df.groupby('region')['population'].transform('sum')
wp_country_df['region_articles_by_pop'] = wp_country_df['region_articles_count'] / wp_country_df['region_population']

### Compute Number of GA or FA-Quality Articles by Region

In [25]:
wp_country_df['ga_fa_flag'] = wp_country_df['article_quality'].apply(lambda x: 1 if x in ['GA', 'FA'] else 0)
wp_country_df['region_ga_fa_count'] = wp_country_df.groupby(['region'])['ga_fa_flag'].transform('sum')

### Compute Proportion of GA or FA-Quality Articles  by Region

In [26]:
wp_country_df['region_ga_fa_prop'] = wp_country_df['region_ga_fa_count'] / wp_country_df['region_articles_count']

# Display Deliverables

### Table 1: Top 10 countries by coverage: 10 highest-ranked countries in terms of number of politician articles as a proportion of country population (in millions)

In [27]:
wp_country_df[['country', 'articles_by_pop']].drop_duplicates()\
                                             .sort_values('articles_by_pop', ascending=False).head(10)

                country  articles_by_pop
34526            Tuvalu      5400.000000
42833             Nauru      5200.000000
17694        San Marino      2700.000000
26598            Monaco      1000.000000
34498     Liechtenstein       700.000000
32777             Tonga       630.000000
34936  Marshall Islands       616.666667
27030           Iceland       502.500000
43880           Andorra       425.000000
30791           Grenada       360.000000

### Table 2: Bottom 10 countries by coverage: 10 lowest-ranked countries in terms of number of politician articles as a proportion of country population (in millions)

In [28]:
wp_country_df[['country', 'articles_by_pop']].drop_duplicates()\
                                             .sort_values('articles_by_pop', ascending=True).head(10)

            country  articles_by_pop
3489          India         0.714650
24625     Indonesia         0.791855
9872          China         0.810733
42885    Uzbekistan         0.851064
36534      Ethiopia         0.939535
43761  Korea, North         1.406250
44418        Zambia         1.412429
39469      Thailand         1.691843
39411    Mozambique         1.901639
38161    Bangladesh         1.917067

### Table 3: Top 10 countries by relative quality: 10 highest-ranked countries in terms of the relative proportion of politician articles that are of GA or FA-quality

In [29]:
wp_country_df[['country', 'ga_fa_prop']].drop_duplicates()\
                                        .sort_values('ga_fa_prop', ascending=False).head(10)

                        country  ga_fa_prop
43761              Korea, North    0.194444
44072              Saudi Arabia    0.127119
41849                Mauritania    0.125000
43665  Central African Republic    0.121212
20455                   Romania    0.113703
34526                    Tuvalu    0.092593
39378                    Bhutan    0.090909
44254                  Dominica    0.083333
21259                     Syria    0.078125
20364                     Benin    0.076923

### Table 4: Bottom 10 countries by relative quality: 10 lowest-ranked countries in terms of the relative proportion of politician articles that are of GA and FA-quality

**Note:** Many countries tie for last.

In [30]:
wp_country_df[['country', 'ga_fa_prop']].drop_duplicates()\
                                        .sort_values('ga_fa_prop', ascending=True).head(10)

                   country  ga_fa_prop
44443           Seychelles         0.0
43141              Eritrea         0.0
43117  Antigua and Barbuda         0.0
15507              Tunisia         0.0
42913              Namibia         0.0
17694           San Marino         0.0
42833                Nauru         0.0
22449               Uganda         0.0
42000              Lesotho         0.0
41897             Cameroon         0.0

### Table 5: Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the total count of politician articles from countries in each region as a proportion of total regional population (in millions)

In [31]:
wp_country_df[['region', 'region_articles_by_pop']].drop_duplicates()\
                                                   .sort_values('region_articles_by_pop', ascending=False)

                                region  region_articles_by_pop
23598                          OCEANIA                0.072583
4973                            EUROPE                0.028684
0                               AFRICA                0.021919
5783   LATIN AMERICA AND THE CARIBBEAN                0.015731
310                   NORTHERN AMERICA                0.004990
97                                ASIA                0.003216

### Table 6: Geographic regions by coverage: Ranking of geographic regions (in descending order) in terms of the relative proportion of politician articles from countries in each region that are of GA and FA-quality

In [32]:
wp_country_df[['region', 'region_ga_fa_prop']].drop_duplicates()\
                                              .sort_values('region_ga_fa_prop', ascending=False)

                                region  region_ga_fa_prop
310                   NORTHERN AMERICA           0.051536
97                                ASIA           0.026884
23598                          OCEANIA           0.021100
4973                            EUROPE           0.020298
0                               AFRICA           0.018246
5783   LATIN AMERICA AND THE CARIBBEAN           0.013349

Writeup: reflections and implications
Write a few paragraphs, either in the README or at the end of the notebook, reflecting on what you have learned, what you found, what (if anything) surprised you about your findings, and/or what theories you have about why any biases might exist (if you find they exist). You can also include any questions this assignment raised for you about bias, Wikipedia, or machine learning.

In addition to any reflections you want to share about the process of the assignment, please respond (briefly) to at least three of the questions below:

- What biases did you expect to find in the data (before you started working with it), and why?
- What (potential) sources of bias did you discover in the course of your data processing and analysis?
- What might your results suggest about (English) Wikipedia as a data source?
- What might your results suggest about the internet and global society in general?
- Can you think of a realistic data science research situation where using these data (to train a model, perform a hypothesis-driven research, or make business decisions) might create biased or misleading results, due to the inherent gaps and limitations of the data?
- Can you think of a realistic data science research situation where using these data (to train a model, perform a hypothesis-driven research, or make business decisions) might still be appropriate and useful, despite its inherent limitations and biases?
- How might a researcher supplement or transform this dataset to potentially correct for the limitations/biases you observed?

This section doesn't need to be particularly long or thorough, but we'll expect you to write at least a couple paragraphs.

Required deliverables

A directory in your GitHub repository called data-512-a2 that contains at minimum the following files:

- your two source data files and a description of each
- 1 final data file in CSV format that contains all articles you analyzed, the corresponding country and population, and their predicted quality score.
- 1 Jupyter notebook named hcds-a2-bias that contains all code as well as information necessary to understand each programming step, as well your findings (six tables) and your writeup (if you have not included it in the README).
- 1 README file in .txt or .md format that contains information to reproduce the analysis, including data descriptions, attributions and provenance information, and descriptions of all relevant resources and documentation (inside and outside the repo) and hyperlinks to those resources, and your writeup (if you have not included it in the notebook). A prototype framework is included in the sample repository
- 1 LICENSE file that contains an MIT LICENSE for your code.
- If you created any additional process or incremental files in the course of your data processing and analysis (for example, a list of articles for which you were not able to gather ORES scores), please include these in the folder as well, and briefly describe them in the README.

Helpful tips

- Read all instructions carefully before you begin
- Read all API documentation carefully before you begin
- Experiment with queries in the sandbox of the technical documentation for the API to familiarize yourself with the schema and the data
- Explore the data a bit before starting to be sure you understand how it is structured and what it contains
- Ask questions on Slack if you're unsure about anything. If you need more help, come to office hours or schedule a time to meet with Yihan or Jonathan.
- When documenting/describing your project, think: "If I found this GitHub repo, and wanted to fully reproduce the analysis, what information would I want? What information would I need?"